<%- model_class = BalancePunto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:usuario_id) %></th>
      <th><%= model_class.human_attribute_name(:debit) %></th>
      <th><%= model_class.human_attribute_name(:credit) %></th>
      <th><%= model_class.human_attribute_name(:motivo_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @balance_puntos.each do |balance_punto| %>
      <tr>
        <td><%= link_to balance_punto.id, balance_punto_path(balance_punto) %></td>
        <td><%= balance_punto.usuario_id %></td>
        <td><%= balance_punto.debit %></td>
        <td><%= balance_punto.credit %></td>
        <td><%= balance_punto.motivo_id %></td>
        <td><%=l balance_punto.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_balance_punto_path(balance_punto), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      balance_punto_path(balance_punto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_balance_punto_path,
            :class => 'btn btn-primary' %>
