<%= form_for @logjuego, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :juego_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :juego_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player1, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :player1, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player2, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :player2, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :winner, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :winner, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :loser, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :loser, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :points_involved, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :points_involved, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                logjuegos_path, :class => 'btn' %>
  </div>
<% end %>
