<%- model_class = Logtransfer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fromaccount) %>:</strong></dt>
  <dd><%= @logtransfer.fromaccount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toaccount) %>:</strong></dt>
  <dd><%= @logtransfer.toaccount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:monto) %>:</strong></dt>
  <dd><%= @logtransfer.monto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @logtransfer.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @logtransfer.message %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              logtransfers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_logtransfer_path(@logtransfer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              logtransfer_path(@logtransfer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
